.container-field {
  display: flex;

  padding: 30px;

  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fields {
      display: flex;
      flex-direction: column;
    }

    button {
      width: 20%;
      margin-left: auto;
    }
  }

  .charts {
    padding: 0 20px;
  }
}